spring:
  application:
    name: apiGateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/auth/**
        - id: expense-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/expenses/**
        - id: expense-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/expenses/**























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































